.client-table {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;

    padding-right: 5%;

    gap: 1rem;

}

.client-table p {
    color: #0d453f;

    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 1.25rem;
}

.client-table table {
    border-collapse: collapse;
    border: solid 1px gray;
}

.client-table table thead tr th {
    width: 15rem;
    height: 3rem;

    color: #3d5666;

    border-collapse: collapse;
    border: thin inset gray;

    font-family: "Roboto", sans-serif;
    font-weight: 700;

    text-align: center;
}

.client-table table tbody td {
    color: #3d5666;

    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;

    border-collapse: collapse;
    border: thin inset gray;

    text-align: center;
    height: 3rem;
}