.card {
    height: 20rem;
    width: 15rem;

    display: flex;
    flex-direction: column;

    align-items: center;

    border-radius: 1rem;

    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);

}


.blue-div {
    width: 100%;
    height: 25%;

    border-radius: 1rem 1rem 0 0;

    background-color: #3d5666;
}

.card figure img{
    width: 6rem;
    height: 6rem;
    
    border-radius: 50%;

    position: relative;

    top: -25%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.info-card {
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;


    font-family: "Roboto", sans-serif;

    color: #0d453f;
}

.info-card h4 {
    font-weight: 700;

    font-size: 1.25rem;
}


#next-arrow-pet {
    background-color: #0d453f;

    border-radius: 50%;

    height: 1.5rem;
    width: 1.5rem;

    display: flex;

    justify-content: center;
    align-items: center;
    
    margin-top: 1rem;

    cursor: pointer;
}
